code {
    padding: 0.2rem;
    border-radius: 5px;
    background-color: #CCC;
}

li {
    margin-bottom: 1rem;
}

a {
    padding: 0.4rem;
    color: #000;
}

.solved a {
    background: rgb(3, 168, 3);
    color: #FFF;
}